#questao .input-group {
    flex-direction: column;
    margin-top: 2rem;
}

#questao .form {
    padding-bottom: 2rem;
}


@media screen and (max-width: 1330px) {
#questao .form {
    width: 50%;
 }
}

@media screen and (max-width: 700px) {
    #questao .form {
        width: 50%;
     }
    }